.info {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    display: flex;
}

.info svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-top: 4px;
    flex-shrink: 0;
}

.externalLink svg {
    color: #8579DC;
    margin-left: 4px;
    width: 1em;
}

.italic svg {
    transform: skewX(-12deg);
}