.badge {
    display: flex;
    align-items: center;
    padding: 3px 15px 3px 10px;
    border-radius: 9999px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    border: 2px solid #010101;
    gap: 5px;
}

.badge svg {
    width: 20px;
    height: 20px;
}

.badge svg path {
    stroke-width: 3px;
}