.listContainer {
    flex: 1;
    width: 100%;
}

.cardsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.groupedCartList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card {
  position: relative;
  background-color: #fff;
  padding: 14px 20px;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.cardStatusContainer {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.ruleCard .cardStatusContainer {
  margin-top: 20px;
  font-size: 16px;
  align-items: center;
  justify-content: flex-end;
}

.cardStatus {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: 3px solid #010101;
  padding: 5px;
}

.ruleCard .cardStatus {
  width: 30px;
  height: 30px;
  border: 2px solid #010101;
  border-radius: 10px;
  padding: 4px;
}

.cardStatus:hover,
.cardStatus:focus {
  border-color: #8579dc !important;
  outline: none;
}

.cardContent {
  flex: 1;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

.cardRule {
  display: flex;
  align-items: flex-start;
  /* font-family: 'Lexend Deca', sans-serif; */
  font-weight: 500;
  font-size: 1.25em;
  color: #010101;
  margin-bottom: 40px;
}

.cardRule svg {
  margin-top: 6px;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.cardRule svg path {
  stroke-width: 2;
}

.actionsButton {
  cursor: pointer;
  padding: 0;
  color: #010101;
  width: 25px;
  height: 25px;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.actionsButton:hover,
.actionsButton:focus {
  border: 2px solid #8579dc !important;
  outline: none;
}

.actionsButton[aria-expanded="true"] {
  border: 2px solid #010101;
}

.actionMenu {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 2px solid #010101;
  list-style-type: none;
  padding: 10px;
  margin-top: 5px;
  top: 40px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.actionMenu button {
  width: 100%;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  border: 3px solid transparent;
  border-radius: 10px;
}
.actionMenu button:hover,
.actionMenu button:focus {
  border: 3px solid #8579dc;
  outline: none;
}

.actionMenu button svg {
  width: 20px;
  height: 20px;
}

.issueListForm {
    flex: 1;
    width: 100% !important;
    max-width: none !important;
}