@import "tailwindcss";
@plugin "daisyui" {
  themes: pastel --default;
};

/* Set DaisyUI theme to pastel */
html {
  font-family: system-ui, -apple-system, sans-serif;
  data-theme: pastel;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

