.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formRow {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form button[type="submit"] {
    margin-top: 20px;
}

.fieldsetHeadingLegend {
    font-size: 1.5rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
}