.issueMarkdown {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.issueMarkdown p {
    font-size: 1em;
    margin: 0;
}

.issueMarkdown ul {
    list-style: disc;
    font-size: 1em !important;
    margin: 0;
    margin-left: 20px;
}

.issueMarkdown ul li {
    margin-bottom: 10px;
}

.issueMarkdown ol {
    list-style: decimal;
    font-size: 1em !important;
    margin: 0;
    margin-left: 20px;
}

.issueMarkdown ol li {
    margin-bottom: 10px;
}

.issueMarkdown blockquote {
    border-left: 4px solid #FFEDD5;
    background-color: #FFF7ED;
    padding: 10px 20px;
    margin: 0;
    border-radius: 10px;
}

.issueMarkdown blockquote p {
    margin: 0;
    font-size: 1em !important;
}

.issueMarkdown pre code {
    font-size: 1em !important;
    margin: 0;
}

.issueMarkdown img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
}

.issueMarkdown table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.issueMarkdown th, .issueMarkdown td {
    border: 1px solid #ddd;
    padding: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    display: block;
    margin: 0;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Lexend Deca', sans-serif;
}

.h1 {
    font-size: 1.6em;
}

.h2 {
    font-size: 1.4em;
}
.h3 {
    font-size: 1.3em;
}
.h4 {
    font-size: 1.25em;
}
.h5 {
    font-size: 1.1em;
}
.h6 {
    font-size: 1em;
}

.inlineCode {
    background-color: #FFF5F3;
    font-weight: 500;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 1em;
}

.blockCode {
    background-color: #010101;
    border-radius: 10px;
    margin-bottom: 20px;
}