.callToAction {
    display: flex;
    width: fit-content;
    align-items: center;
    border: 3px solid #010101;
    color: #010101;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    height: 3rem;
    font-size: 1.25rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.callToAction svg {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}

.callToAction:hover {
    border: 3px solid #8579DC;
}

.callToAction:focus {
    outline: none;
    border: 3px solid #E2026A;
}

.callToAction:disabled, .callToAction[disabled] {
    border: 3px solid #A9A9A9;
    color: #A9A9A9;
    cursor: not-allowed;
}