@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lexend Deca", sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

.landingContainer {
	max-width: 80rem;
	margin: 0 auto;
}

.italic svg {
	transform: skewX(-12deg);
}

.externalLink svg {
	display: inline-block;
	width: 18px;
	color: #8579dc;
	margin-left: 4px;
	margin-top: -2px;
}

@media (max-width: 768px) {
	.landingContainer {
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media (max-width: 400px) {
	.landingContainer {
		padding-left: 0px;
		padding-right: 0px;
	}
}
