[Unit]
Description=Oh Dit Next.js App
After=network.target

[Service]
Type=simple
User={{ user.name }}
WorkingDirectory={{ user.workspace_directory }}/oh-dit/app
Environment="NODE_ENV=production"
Environment="PORT=3000"
ExecStart={npm_executable} start
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target