.bannerContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    background-color: #4A38CC;
    color: #FFFFFF;
}

.link {
    margin-left: 0.25rem;
    text-decoration-color: white;
    text-decoration-thickness: 1.5px;
}