.navigationContainer {
    background: #010101;
    color: #FFF5F3;
    display: flex;
    padding: 10px 60px;
    margin-bottom: 10px;
}

.navigationContainer ul {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.navigationContainer ul li:first-child {
    flex: 1;
}

.navLink {
    border: 3px solid transparent;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.125rem;
    width: max-content;
}

.navLink:hover {
    text-decoration: none;
    border: 3px solid #8579DC;
}

.navLink:focus {
    border: 3px solid #E2026A;
    outline: none;
    text-decoration: none;
}

.active {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--color-accent);
}

@media (max-width: 880px) {
    .navigationContainer ul {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom : 5px;
    }
}