.logoLink {
    display: flex;
    margin-top: 32px;
    margin-bottom: 20px;
    margin-left: 10px;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    height: 30px;
}

.sidebarContainer {
    padding: 0 20px;
    width: 250px;
}

.navLink {
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 1.125rem;
}

.navLink:hover {
    text-decoration: none;
    border: 3px solid #8579DC;
}

.navLink:focus {
    border: 3px solid #E2026A;
    outline: none;
    text-decoration: none;
}

.active {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--color-accent);
    
}