.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: left;
    padding: 10px 15px;
    font-size: 1.25em;
}

.table thead {
    background-color: #FFF5F3;
}

.table thead th {
    text-align: center;
    vertical-align: middle;
}

.subText {
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}

.table th {
    font-family: "Lexend Deca", sans-serif;
}

.table th svg, .table td svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
}

.table tbody {
    background-color: white;
}

.table tbody tr {
    border-top: 3px solid #FFF5F3;
}

.progressBar {
    position: relative;
    background-color: #F5F5F5;
    border-radius: 10px;
    height: 5px;
    margin-top: 8px;
}

.progress {
    background-color: #8579DC;
    height: 100%;
    border-radius: 10px;
}